.top {
    background-color: antiquewhite;
    width: 100%;
    position: relative;
    padding-top: 140px;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-family: sans-serif;
    background-color: #CFD2CF;
}

h1 {
    margin-top: 50px auto 0 auto;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 5.625rem;
    color: #A2B5BB;
    line-height: 2;
}

h2 {
    font-size: 2.5rem;
    color: black;
    font-weight: normal;
    padding: 10px;
}

h3 {
    color:black;
}

a {
    color: #EB1D36;
    padding: 30px;
    text-decoration: none;
}

a:hover {
    color:#A2B5BB;
}

.middle-container {
    background-color: #CFD2CF;
    margin: 100px 0;
}

.bottom-container {
    background-color: antiquewhite;
    padding-top: 60px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 250px;
}

.paragraph2 {
    padding: 50px;
}
p {
    line-height: 2;
}

.self {
    width: 13%;
}

span {
    text-decoration: underline;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}


.code {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.ux {
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-top: 50px;
}
hr {
    clear:both;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 5px;
    border-color: #EB1D36;
}

.bio {
    width: 30%;
    margin: 50px auto 100px auto;
}

.name {
    color: #A2B5BB;
    font-size: .75rem;
    padding: 20px 0px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}